@font-face{
    font-family: 'Comme';
    font-weight: 700;
    font-style: normal;
    src: 
    url('../fonts/Comme-Bold.woff2') format('woff2'),
    url('../fonts/Comme-Bold.woff') format('woff');
    font-display: swap;
}





@font-face {
    font-family: "Konkhmer-Sleokchher";
    src: 
      url("../fonts/src/Konkhmer-Sleokchher-Regular.woff") format("woff") ,
      url("../fonts/src/Konkhmer-Sleokchher-Regular.woff2") format("woff2") ,
  }