body {
  font-family: "Comme", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $primary-color;
  line-height: 1.3;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.title {
  padding-top: 55px;
  font-weight: 700;
  font-size: 48px;
}

.section {
  &-title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
    color: $primary-color;
  }
}

.button {
  text-align: center;
  display: block;
  max-width: 270px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 24px;
  padding: 15px 30px;
  text-transform: uppercase;
  color: $light-text;
  border-radius: 50px;
  background-color: $accent;
  transition: background-color 0.4s;

  &:hover {
    background-color: #151515;
  }
}

.hidden {
  display: none;
}

.active {
  display: block;
  padding: 5px;
  color: $accent;
  border-bottom: 3px solid $accent;
}
