<footer class="footer">
  <div class="container">
    <nav class="footer__menu">
      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <h3 class="footer__menu-headline">Products</h3>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Used</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">New</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Sell your car</a>
        </li>
      </ul>

      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <h3 class="footer__menu-headline">Resources</h3>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Blog</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">FAQ</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Contact us</a>
        </li>
      </ul>
      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <h3 class="footer__menu-headline">Work With TrueCar</h3>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Dealers</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Partners</a>
        </li>
      </ul>
      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <h3 class="footer__menu-headline">About</h3>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">About us</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Team</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Careers</a>
        </li>
      </ul>
    </nav>

    <ul class="app">
      <li class="app__item">
        <a class="app__link" href="#">
          <img class="app__img" src="images/google-play.svg" alt="" />
        </a>
      </li>
      <li class="app__item">
        <a class="app__link" href="#">
          <img class="app__img" src="images/app-store.svg" alt="" />
        </a>
      </li>
    </ul>

    <div class="footer__copy">
      <p>
        For questions about the TrueCar Auto Buying Service please call
        1-888-878-3227. Certified Dealers are contractually obligated by TrueCar
        to meet certain customer service requirements and complete the TrueCar
        Dealer Certification Program.
      </p>
      <p>
        TrueCar does not broker, sell, or lease motor vehicles. Unless otherwise
        noted, all vehicles shown on this website are offered for sale by
        licensed motor vehicle dealers. All vehicles are subject to prior sale.
        By accessing this website, you agree to the TrueCar Terms of Service and
        Privacy Policy.
      </p>
    </div>

    <nav class="copy__nav">
      <ul class="copy__nav-list">
        <li class="copy__nav-item">
          <a class="copy__nav-link" href="#">Terms of Service</a>
        </li>
        <li class="copy__nav-item">
          <a class="copy__nav-link" href="#">Privacy Policy</a>
        </li>
        <li class="copy__nav-item">
          <a class="copy__nav-link" href="#"
            >Do Not Sell My Personal Information</a
          >
        </li>
      </ul>

      <div class="social">
        <ul class="social__list">
          <li class="social__item">
            <a class="social__link" href="#">
              <svg >
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
