<section class="contacts">
 <div class="container">
    <h2 class="section-title contacts__title">
        Contact us
    </h2>

    <p class="contacts__text">
        Feel free to contact us with 
        questions, potencial partnerships or media inquiries
    </p>
    <form action="" class="form">
        <div class="form__wrapper">
            <input class="form__input" type="text" name="" id="" placeholder="name">
            <input class="form__input"  type="email" name="" id="" placeholder="email">
        </div>
        <textarea class="form__textarea" placeholder="text"></textarea>
        <button class="form__btn button" type="submit">Submit</button>
    </form>
 </div>
</section>

