<section class="parents section-hidden" id="parents">
    <div class="container">
      <h3 class="title">Mom's & Dad's</h3>

      <div class="parents__inner">
        <article class="parents__box">
          <div class="parents__wrapper">
            <p class="parents__text">
              Multiple winner of the best shows. Excellent breeder!
            </p>
            <span class="parents__mom">Mom:</span>
            <ul class="parents__list">
              <li class="parents__list-item">young champion of Russia</li>
              <li class="parents__list-item">young champion of RKF</li>
              <li class="parents__list-item">
                young champion of the National Club
              </li>
              <li class="parents__list-item">Champion of Russia</li>
              <li class="parents__list-item">Champion of RKF</li>
            </ul>
          </div>
          <img class="parents__img" src="images/parents.webp" alt="" />
        </article>

        <article class="parents__box">
          <img class="parents__img" src="images/parents2.webp" alt="" />

          <div class="parents__wrapper">
            <span class="parents__dad">Dad:</span>
            <p class="parents__text">
              Imported from Poland. Young Champion of RKF!
            </p>
            <ul class="parents__list">
              <li class="parents__list-item">young champion of Russia</li>
              <li class="parents__list-item">young champion of RKF</li>
              <li class="parents__list-item">
                young champion of the National Club
              </li>
              <li class="parents__list-item">Champion of Russia</li>
              <li class="parents__list-item">Champion of RKF</li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </section>


<section class="pupies">
    <div class="container">
        
    </div>
</section>

