<section class="why-lease">
  <div class="container">
    <h2 class="section-title">Our Benefits</h2>

    <ul class="why-lease__list">
      <li class="why-lease__item">
        <img class="why-lease__item-img" src="images/why-lease1.svg" alt="" />
        <h3 class="why-lease__item-subtitle"> Vaccinated</h3>
        <p class="why-lease__item-text">
          Very friendly, good-natured, sociable, cheerful, easy-going.
        </p>
      </li>
      <li class="why-lease__item">
        <img class="why-lease__item-img" src="images/why-lease2.svg" alt="" />
        <h3 class="why-lease__item-subtitle"> Microchipped</h3>
        <p class="why-lease__item-text">
          They have sensitive hearing can be used in hunting.
        </p>
      </li>
      <li class="why-lease__item">
        <img class="why-lease__item-img" src="images/why-lease3.svg" alt="" />
        <h3 class="why-lease__item-subtitle">  Dewormed</h3>
        <p class="why-lease__item-text">
          Not aggressive, never in conflict, get along with all pets.
        </p>
      </li>
      <li class="why-lease__item">
        <img class="why-lease__item-img" src="images/why-lease4.svg" alt="" />
        <h3 class="why-lease__item-subtitle">Vet Checked</h3>
        <p class="why-lease__item-text">
          Not aggressive, never in conflict, get along with all pets.
        </p>
      </li>
    </ul>
  </div>
</section>
