<section class="benefits">
  <div class="container">
    <h2 class="section-title">Our Benefits</h2>

    <ul class="benefits__list">
      <li
        class="benefits__item"
        style="background-image: url('images/benefits1.svg')"
      >
        <h3 class="benefits__item-subtitle">AKC Registered</h3>
        <p class="benefits__item-text">
          Very friendly, good-natured, sociable, cheerful, easy-going.
        </p>
      </li>
      <li
        class="benefits__item"
        style="background-image: url('images/benefits2.svg')"
      >
        <h3 class="benefits__item-subtitle">   Vaccinated</h3>
        <p class="benefits__item-text">
          They have sensitive hearing can be used in hunting.
        </p>
      </li>
      <li
        class="benefits__item"
        style="background-image: url('images/benefits3.svg')"
      >
        <h3 class="benefits__item-subtitle">Dewormed</h3>
        <p class="benefits__item-text">
          Not aggressive, never in conflict, get along with all pets.
        </p>
      </li>
      <li
        class="benefits__item"
        style="background-image: url('images/benefits4.svg')"
      >
        <h3 class="benefits__item-subtitle">Vet Checked</h3>
        <p class="benefits__item-text">
          Not aggressive, never in conflict, get along with all pets.
        </p>
      </li>
    </ul>
  </div>
</section>
